<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .cont{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 400px;
            flex-direction: column;
        }

        #inp{
            min-width: 800px;
        }

    </style>
</head>
<body>
    <div class="cont">
    <form action="/" method="POST">

        <input type="text" name="work" id="inp">

        <span><input type="submit" value="Add To list"></span>


    </form>

    <ul>
        <% frst.forEach(currentItem => { %>
        
       
        <li><%= currentItem.record %><span> <a href="/delete/<%= currentItem._id %>">delete</a>
            <a href="/update/<%= currentItem._id %>">Edit</a>  </span></li>
    <% }); %>
        
    </ul>
</div>
</body>
</html>